<% content_for :head do %>
  <title>Nouvel Article</title>
<% end %>
<div class='new_article'>
  <%= simple_form_for(@article, :url => articles_path(@article, :token => 'UpfEh7YNxUr2LOu0BInG')) do |f| %>
    <%= f.error_notification %>

    <%= f.input :author %>
    <%= f.input :model %>
    <%= f.input :rank %>
    <%= f.input :title %>
    <%= f.input :summary %>
    <%= f.input :picture %>
    <%= f.input :content %>

    <%= f.button :submit %>
  <% end %>
</div>