<% content_for :head do %>
  <title><%= @article.title %></title>

  <meta property="og:url"                content="http://blog.needl.fr/articles/<%= @article.id %>" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="<%= @article.title %>" />
  <meta property="og:description"        content="<%= @article.summary %>" />
  <meta property="og:image"              content="<%= @article.picture %>" />
  <meta itemprop="name" content="<%= @article.title %>">
  <meta itemprop="description" content="<%= @article.summary %>">
  <meta itemprop="image" content="<%= @article.picture %>">
<% end %>

<div class='article'>
  <div class='content_image' style="background: url(<%= @article.picture %>); background-repeat:no-repeat; background-size:cover; background-position:50% 50%"></div>
  <div class='container'>
    <div class='header'>
      <%= image_tag 'logo_square.png', {class: 'author_image'} %>
      <div class='infos'>
        <span class='author'>Ecrit par <span class='name'><%= @article.author %></span></span>
        <span class='date'>Publi&eacute; le <span class='day'><%= @article.created_at %></span></span>
        <span class='type'>BLOGGER INTERVIEW</span>
        <div class='analytics hidden'>
          <span class='likes'>
            <i class='fa fa-heart'></i><%= @article.likes %>
          </span>
          <span class='views'>
            <i class='fa fa-eye'></i><%= @article.views %>
          </span>
        </div>
      </div>
      <div class='social'>
        <a href="https://plus.google.com/share?url={http://blog.needl.fr/articles/<%= @article.id %>}" id='google-share' class='google-plus' onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
          <i class='fa fa-google-plus'></i>
        </a>
        <a href='#' id='facebook-share-top' class='facebook'><i class='fa fa-facebook'></i></a>
        <a target='_blank' href="https://twitter.com/intent/tweet?text=<%= @article.summary %>&hashtags=needl&url=http://blog.needl.fr/articles/<%= @article.id %>" id='twitter-share' class='twitter'>
          <i class='fa fa-twitter'></i>
        </a>
      </div>
    </div>
    <div class='content'>
      <%= @article.content.html_safe %>
    </div>
    <div class='social'>
      <a href="https://plus.google.com/share?url={http://blog.needl.fr/articles/<%= @article.id %>}" id='google-share' class='google-plus' onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
          <i class='fa fa-google-plus'></i>
      </a>
      <a href='#' id='facebook-share-bottom' class='facebook'><i class='fa fa-facebook'></i></a>
      <a target='_blank' href="https://twitter.com/intent/tweet?text=<%= @article.summary %>&hashtags=needl&url=http://blog.needl.fr/articles/<%= @article.id %>" id='twitter-share' class='twitter'>
        <i class='fa fa-twitter'></i>
      </a>
    </div>
  </div>
</div>