<%= link_to article_path(article) do %>
  <%= image_tag 'restaurant.png', {class: 'content_image'} %>
  <div class='infos'>
    <h1 class='title'><%= article.title %></h1>
    <h2 class='subtitle'><%= article.model %></h2>
    <span class='description'>
      <%= article.summary %>
    </span>
    <div class='footer'>
      <span class='author'>By <%= article.author %></span>
      <div class="analytics">
        <span class='likes'>
          <i class="fa fa-heart"></i><%= article.likes %>
        </span>
        <span class='views'>
          <i class="fa fa-eye"></i><%= article.views %>
        </span>
      </div>
    </div>
  </div>
<% end %>