<div class='home'>
  <div class='header'>
    <div class='left'>
      <%= render 'shared/header_box', size: 'large' %>
    </div>
    <div class='right'>
      <div class='top'>
        <%= render 'shared/header_box', size: 'small' %>
      </div>
      <div class='bottom'>
        <%= render 'shared/header_box', size: 'small' %>
      </div>
    </div>
  </div>

  <div class='content'>
    <%= render 'shared/content_box' %>
    <%= render 'shared/content_box' %>
    <%= render 'shared/content_box' %>
    <%= render 'shared/content_box' %>
    <%= render 'shared/content_box' %>
    <%= render 'shared/content_box' %>
    <%= render 'shared/content_box' %>
    <%= render 'shared/content_box' %>
    <%= render 'shared/content_box' %>
    <%= render 'shared/content_box' %>
    <%= render 'shared/content_box' %>
    <%= render 'shared/content_box' %>
    <%= render 'shared/content_box' %>
    <%= render 'shared/content_box' %>
    <%= render 'shared/content_box' %>
    <%= render 'shared/content_box' %>
  </div>
</div>